.menu {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    background-color: #D7D9DA;
}

.menu_left {
    text-align: left;
}

.menu_left .menu_text {
    padding-left: 50px;
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    font-size: 30px;
}

.menu_right {
    text-align: right;
    padding-right: 50px;
}


/* popup menu */

.popup_menu {
    width: 500px;
    max-width: 80%;
    background-color: #D7D9DA;
    height: 500px;
    position: relative;
    margin-left: auto;
    right: 0;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 0px;
    display: grid;
    align-items: center;
    justify-content: left;
    padding-left: 20px;
    display: none;
    position: absolute;
    z-index: 3;
}

.popup_menu a {
    text-decoration: none;
    font-family: 'Helvetica Neue', sans-serif;
    padding-bottom: 5px;
    border-bottom: #8743B4 1px solid;
    width: 100%;
    cursor: pointer;
}


/* popup menu */